<div class="container">
  <div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
  </div>
  <div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" rows="20" class="form-control"><%= article.markdown %></textarea>
  </div>
  <div>
  <div class="d-flex justify-content-center">
    <a href="/" class="btn btn-secondary btn-lg mr-5">Cancel</a>
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
  </div>
</div>
</div>